@font-face {
  font-family: "Press Start 2P";
  src: local("Press Start 2P"),
    url(./resources/font/PressStart2P-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Press Start 2P", cursive;
  text-align: center;
  cursor: crosshair;
  background: #000;
  user-select: none;
}

img {
  user-select: none;
}
